@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
$navbg: black;
$navlink1: #EAEAEA;
$navlink2: #FFE2E2;
$navlinkhover: #FFA1CF;
$primary:#FFE2E2;
$secondary: #F6F6F6;
$btn:black;
$btntext: white;
$btnhover:black;
$text:black;

// Global
body {
    // font-family: 'Oswald', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    .row {
        width: 100%;
    }
}

section {
    padding: 5%;
}
.btn.btn-primary {
    background: $btn;
    color: $btntext;
    border: none;
    margin: 5px 10px;
    padding: 10px 30px;
    &:hover,&:focus,&:active {
        -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        background: #FF2E63;
        color:$btnhover;
    }
}

// Navbar
.navbar-dark.navbar {
    background-color: $navbg;
    text-transform: uppercase;
    .navbar-toggler {
        color: none;
    }
    img.header-logo {
        max-width: 100px;
        height: 100%;
    }
    a.nav-link {
        font-weight: 300;
        font-size: 20px;
        color: $navlink1;
        padding: 0px 0.6em !important;
        &:hover,&:focus,&:active {
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            color: $navlinkhover;
        }
    }
    
}

// Section1: About Me
section.about-me {
    background-color: #FEF2F4;
    color: $text;
    font-family: 'Oswald', sans-serif;
    min-height: 90vh;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    // .row {
    //     // width: 100vw;
    //     height: 70vh;
    // }
    .pink-profile {
        height: 300px;
        width: 300px;
        object-fit: cover;
        object-position: center -180px;
        margin-bottom: 20px
    }
    h1{
        font-size: 72px;
    }
    h2 {
        font-weight: 300;
        font-size: 48px;
    }

   
}

